body {
    width: 500px;
    height: 260px;
    margin-top: 20px;
}

body > div > span {
    display: inline-block;
    width: 160px;
    text-align: right;
}

#antiphishing {
    width: 310px;
}

#apply {
    width: 490px;
    margin: 0;
    margin-top: 20px;
    margin-left: 4px;
}

.alert {
    margin-top: 20px;
    text-align: center;
    color: #c93a3a;
}